footer
	.container
		.left
			p &copy; 2015 All rights www.ash.com
		.middle
			a(href="#") Terms And Conditions
			|&middot;
			a(href="#") Contact Us
			|&middot;
			a(href="#") Newsletter Sign In
		.right
			a(href="#")
				img(src="lib/xxxx/fb.png", alt="Facebook")
			a(href="#")
				img(src="lib/xxxx/twitter.png", alt="Twitter")
			a(href="#")
				img(src="lib/xxxx/yt.png", alt="YouTube")
			a(href="#")
				img(src="lib/xxxx/pin.png", alt="Pinterest")
			a(href="#")
				img(src="lib/xxxx/ig.png", alt="Instagram")
script(src='lib/xxxx/jquery-2.1.4.min.js')
script(src='lib/xxxx/jquery-hoverIntent-minified.js')
script(src='lib/xxxx/owl.carousel.min.js')
script(src='lib/xxxx/jquery.fancybox.min.js')
script(src='lib/xxxx/ysw-core-scripts.js')