header.container
	.left
		.logo
			img.logo(src="lib/xxxx/logo.png", alt="Ash Footwear Logo")
		nav
			.shoes
				.menu-cat Shoes
				ul
					li
						a(href="#") Main Line
					li
						a(href="#") Sport Line
					li
						a(href="#") Kid Line
					li
						a(href="#") Men Line
			.readyToWear
				.menu-cat Ready To Wear
				ul
					li
						a(href="#") AshStudioParis
			.accessories
				.menu-cat Accessories
				ul
					li
						a(href="#") Bag
						a(href="#") Phone Case
			.totalLook
				.menu-cat Total Look
				ul
					li
						a(href="#") F|W 15
	.top
		ul.top
			li.search
				a(href="#") Search
			li Location: 
				a(href="#") FR
				|| 
				a(href="#") EUR &euro;
			li
				a(href="#") EN 
				|/ 
				a(href="#") FR
			li
				a(href="#") Account
			li
				a(href="#") My Cart
		ul.under
			li
				a(href="#") Blog
			li 
				a(href="#") Contact Us
			li 
				a(href="#") www.ash.com