header.container
	.mobile
		.x
			.mobile-nav-toggle: span
		.ash ASH
		.logo
			img(src="lib/xxxx/mobile-logo.png", alt="Logo")
	.left
		.logo
			img.logo(src="lib/xxxx/logo.png", alt="Ash Footwear Logo")
		nav
			.shoes
				.menu-cat Shoes
				ul
					li
						a(href="#") Main Line
						.down
							span
							span
					li.active
						a(href="#") Sport Line
						.down
							span
							span
						ul
							li
								a(href='ash-bowie-blue-denim-s16.html') Ash  Bowie Womens Wedge Sneaker Blue Denim 360044 (400)
							li
								a(href='ash-bowie-blue-denim-s16.html') Ash  Bowie Womens Wedge Sneaker Blue Denim 360044 (400)
					li
						a(href="#") Kid Line
						.down
							span
							span
					li
						a(href="#") Men Line
						.down
							span
							span
			.readyToWear
				.menu-cat Ready To Wear
				ul
					li
						a(href="#") AshStudioParis
						.down
							span
							span
			.accessories
				.menu-cat Accessories
				ul
					li
						a(href="#") Bag
						.down
							span
							span
						a(href="#") Phone Case
						.down
							span
							span
			.totalLook
				.menu-cat Total Look
				ul
					li
						a(href="#") F|W 15
						.down
							span
							span
	.top
		ul.top
			li.search
				#search 
					img(src="/lib/xxxx/search-icon.png", alt="search") 
					.input 
						input(type="text")
					| Search
			//li Location: 
				a(href="#") FR
				|| 
				a(href="#") EUR &euro;
			//li
				a(href="#") EN 
				|/ 
				a(href="#") FR
			li
				a(href="#") Account
			li.cart
				a(href="#") My Cart
					img(src="lib/xxxx/cart-icon.png", alt="Cart")
		ul.under
			li
				a(href="#") Blog
			li 
				a(href="#") Contact Us
			li 
				a(href="#") www.ash.com
	.mobile2
		.account
			span ACCOUNT
		form
			img(src="lib/xxxx/search-icon2.png", alt="search")
			input(type="text")
		.cart
				a(href="#") My Cart
					img(src="lib/xxxx/cart-icon2.png", alt="Cart")