include header.jade
// HOME PAGE HOME PAGE HOME PAGE HOME PAGE HOME PAGE HOME PAGE HOME PAGE HOME PAGE
.container
	.page-home
		section.banner
			img(src="lib/xxxx/landing-banner.png", alt="Banner")
		section.divider
			.line
			h5.up New Products
		section.newProducts
			a(href="#")
				img(src="http://www.fillmurray.com/263/263", alt="")
			a(href="#")
				img(src="http://www.fillmurray.com/166/557", alt="")
			a(href="#")
				img(src="http://www.fillmurray.com/165/263", alt="")
			.tr-pair
				a(href="#")
					img(src="http://www.fillmurray.com/262/262", alt="")
				a(href="#")
					img(src="http://www.fillmurray.com/263/263", alt="")
			a(href="#")
				img(src="http://www.fillmurray.com/452/263", alt="")
// HOME PAGE HOME PAGE HOME PAGE HOME PAGE HOME PAGE HOME PAGE HOME PAGE HOME PAGE
include footer.jade