include header.jade
// HOME PAGE HOME PAGE HOME PAGE HOME PAGE HOME PAGE HOME PAGE HOME PAGE HOME PAGE
.page-home.container
	section.banner
		img(src="lib/xxxx/landing-banner.png", alt="Banner")
	section.divider
		.line
		h5.up Best Sellers
	section
		article
			h4 Watch the Video
			.flex-video-wrap
				.flex-video
					iframe(src='https://www.youtube.com/embed/F3u7whqIxrc?rel=0&controls=0&showinfo=0', frameborder='0', allowfullscreen='')
		article
			p Brought to you by
			.name-lockup
				img.avatar(src='https://yt3.ggpht.com/-47U43a3eNW0/AAAAAAAAAAI/AAAAAAAAAAA/fWgb7mKcn6k/s176-c-k-no/photo.jpg')
				.name
					strong Travis Neilson
					br
					a(href='https://twitter.com/DevTipsShow') @DevTipsShow
			p and...
			.name-lockup
				.name-lockup
					.name
						strong //yswhosting.com/sandbox/mike/build-starter-files/
// HOME PAGE HOME PAGE HOME PAGE HOME PAGE HOME PAGE HOME PAGE HOME PAGE HOME PAGE
include footer.jade