doctype html
html(lang='en')
	include head.jade
	body
		include header.jade
		// HOME PAGE HOME PAGE HOME PAGE HOME PAGE HOME PAGE HOME PAGE HOME PAGE HOME PAGE
		.container
			.page-home
				section.banner
					img(src="lib/xxxx/landing-banner.png", alt="Banner")
				section.divider
					.line
					h5.up New Products
				section.newProductsMobile
					a(href="#")
						img(src="lib/xxxx/x.png", alt="Close").close
						img(src="lib/xxxx/newProductsMobile.png", alt="New Product")
					a(href="#")
						img(src="lib/xxxx/x.png", alt="Close").close
						img(src="lib/xxxx/newProductsMobile2.png", alt="New Product")
				section.newProducts
					.col
						a(href="#").item.col-item.first-item
							.hover
								div
									h5 AZIMUT
									h5 Nappa Black
									.price $000
							img(src="http://www.fillmurray.com/243/243", alt="new product")
						a(href="#").item.col-item
							.hover
									div
										h5 AZIMUT
										h5 Nappa Black
										.price $000
							img(src="http://www.fillmurray.com/243/243", alt="new product")
					a(href="#").full
						.hover
							div
								h5 AZIMUT
								h5 Nappa Black
								.price $000
						img(src="http://www.fillmurray.com/145/536", alt="new product")
					.col
						.item.sub-group.first-item
							a(href="#").item.sub-item.col-item
								.hover
										div
											h5 AZIMUT
											h5 Nappa Black
											.price $000
								img(src="http://www.fillmurray.com/146/244", alt="new product")
							a(href="#").item.sub-item.col-item
								.hover
										div
											h5 AZIMUT
											h5 Nappa Black
											.price $000
								img(src="http://www.fillmurray.com/256/256", alt="new product")
						a(href="#").item.col-item
							.hover
								div
									h5 AZIMUT
									h5 Nappa Black
									.price $000
							img(src="http://www.fillmurray.com/436/239", alt="new product")
				section.divider
					.line
					h5.up Best Sellers
				section.bestSellersMobile
					a(href="#")
						img(src="lib/xxxx/x.png", alt="Close").close
						img(src="lib/xxxx/newProductsMobile.png", alt="New Product")
					a(href="#")
						img(src="lib/xxxx/x.png", alt="Close").close
						img(src="lib/xxxx/newProductsMobile2.png", alt="New Product")
				section.bestSellers
					mixin bestSellers(href,txt,txt2,price)
						a(href=href)
							.hover
								div
									h5=txt
									h5=txt2
									.price=price
							img(src="http://www.fillmurray.com/147/147", alt="best seller")
					+bestSellers('#','AZIMUT','Nappa Black','$000')
					+bestSellers('#','AZIMUT','Nappa Black','$000')
					+bestSellers('#','AZIMUT','Nappa Black','$000')
					+bestSellers('#','AZIMUT','Nappa Black','$000')
					+bestSellers('#','AZIMUT','Nappa Black','$000')
					+bestSellers('#','AZIMUT','Nappa Black','$000')
					+bestSellers('#','AZIMUT','Nappa Black','$000')
					+bestSellers('#','AZIMUT','Nappa Black','$000')
					+bestSellers('#','AZIMUT','Nappa Black','$000')
					+bestSellers('#','AZIMUT','Nappa Black','$000')
				section.divider
					.line
					h5.up Shop By Style
				section.shopByStyle
					a(href="#")
						.hover
							div
								div
									h5 AZIMUT
									h5 Nappa Black
									.price $000
								div
									h5 AZIMUT
									h5 Nappa Black
									.price $000
								div
									h5 AZIMUT
									h5 Nappa Black
									.price $000
								div
									h5 AZIMUT
									h5 Nappa Black
									.price $000
						img(src="lib/xxxx/add.png", alt="Add To Cart").add
						img(src="http://www.fillmurray.com/170/478", alt="Shop By Style")
					a(href="#")
						.hover
							div
								div
									h5 AZIMUT
									h5 Nappa Black
									.price $000
								div
									h5 AZIMUT
									h5 Nappa Black
									.price $000
								div
									h5 AZIMUT
									h5 Nappa Black
									.price $000
								div
									h5 AZIMUT
									h5 Nappa Black
									.price $000
						img(src="lib/xxxx/add.png", alt="Add To Cart").add
						img(src="http://www.fillmurray.com/170/478", alt="Shop By Style")
					a(href="#")
						.hover
							div
								div
									h5 AZIMUT
									h5 Nappa Black
									.price $000
								div
									h5 AZIMUT
									h5 Nappa Black
									.price $000
								div
									h5 AZIMUT
									h5 Nappa Black
									.price $000
								div
									h5 AZIMUT
									h5 Nappa Black
									.price $000
						img(src="lib/xxxx/add.png", alt="Add To Cart").add
						img(src="http://www.fillmurray.com/170/478", alt="Shop By Style")
					a(href="#")
						.hover
							div
								div
									h5 AZIMUT
									h5 Nappa Black
									.price $000
								div
									h5 AZIMUT
									h5 Nappa Black
									.price $000
								div
									h5 AZIMUT
									h5 Nappa Black
									.price $000
								div
									h5 AZIMUT
									h5 Nappa Black
									.price $000
						img(src="lib/xxxx/add.png", alt="Add To Cart").add
						img(src="http://www.fillmurray.com/170/478", alt="Shop By Style")
					a(href="#")
						.hover
							div
								div
									h5 AZIMUT
									h5 Nappa Black
									.price $000
								div
									h5 AZIMUT
									h5 Nappa Black
									.price $000
								div
									h5 AZIMUT
									h5 Nappa Black
									.price $000
								div
									h5 AZIMUT
									h5 Nappa Black
									.price $000
						img(src="lib/xxxx/add.png", alt="Add To Cart").add
						img(src="http://www.fillmurray.com/170/478", alt="Shop By Style")
				.popup
					.left
						h5 JOIN OUR MAILING LIST
						p
							| Sign up for exclusive update,
							br
							| new arrivals & insider-only discounts 
						form(action="#")
							input(type="text" value="Enter your email address...")
							input(type="submit" value="SUBSCRIBE")
						.social
							a(href="#")
								img(src="lib/xxxx/social-fb2.png", alt="Facebook")
							a(href="#")
								img(src="lib/xxxx/social-twitter2.png", alt="Twitter")
							a(href="#")
								img(src="lib/xxxx/social-yt2.png", alt="YouTube")
							a(href="#")
								img(src="lib/xxxx/social-ig2.png", alt="Instagram")
					.right
						img(src="lib/xxxx/popimg.png", alt="Popup image")
						img(src="lib/xxxx/x.png", alt="Close").closeBtn
			// HOME PAGE HOME PAGE HOME PAGE HOME PAGE HOME PAGE HOME PAGE HOME PAGE HOME PAGE
		include footer.jade