include header.jade
// HOME PAGE HOME PAGE HOME PAGE HOME PAGE HOME PAGE HOME PAGE HOME PAGE HOME PAGE
.container
	.page-home
		section.banner
			img(src="lib/xxxx/landing-banner.png", alt="Banner")
		section.divider
			.line
			h5.up New Products
		section.newProducts
			.col
				a(href="#").item.col-item.first-item
					img(src="http://www.fillmurray.com/241/245", alt="new product")
				a(href="#").item.col-item
					img(src="http://www.fillmurray.com/241/245", alt="new product")
			a(href="#").full
				img(src="http://www.fillmurray.com/166/557", alt="new product")
			.col
				.item.sub-group.first-item
					a(href="#").item.sub-item.col-item
						img(src="http://www.fillmurray.com/146/244", alt="new product")
					a(href="#").item.sub-item.col-item
						img(src="http://www.fillmurray.com/246/246", alt="new product")
				a(href="#").item.col-item
					img(src="http://www.fillmurray.com/436/239", alt="new product")
	// HOME PAGE HOME PAGE HOME PAGE HOME PAGE HOME PAGE HOME PAGE HOME PAGE HOME PAGE
	include footer.jade