doctype html
html(lang='en')
	include head.jade
	body
		include header.jade
		// ITEM  ITEM  ITEM  ITEM  ITEM  ITEM  ITEM  ITEM  ITEM  ITEM
		.container
			.page-item
				.main
					.image
						img(src="http://fillmurray.com/450/400", alt="Main image")
						.carousel
							.left-arrow
								img(src="lib/xxxx/arrow-left.png", alt="Prev")
							.pdpthumb
								img(src="http://fillmurray.com/165/149", alt="Thumb")
							.pdpthumb
								img(src="http://fillmurray.com/165/149", alt="Thumb")
							.pdpthumb
								img(src="http://fillmurray.com/165/149", alt="Thumb")
							.right-arrow
								img(src="lib/xxxx/arrow-right.png", alt="Next")
					.options
			// ITEM  ITEM  ITEM  ITEM  ITEM  ITEM  ITEM  ITEM  ITEM  ITEM
		include footer.jade