doctype html
html(lang='en')
	include head.jade
	body
		include header.jade
		// ITEM  ITEM  ITEM  ITEM  ITEM  ITEM  ITEM  ITEM  ITEM  ITEM
		.container
			.page-item
				.main
					.image
						img(src="http://fillmurray.com/450/400", alt="Main image")
						.carousel
							.left-arrow
								img(src="lib/xxxx/arrow-left.png", alt="Prev")
							.pdpthumb
								img(src="http://fillmurray.com/165/149", alt="Thumb")
							.pdpthumb
								img(src="http://fillmurray.com/165/149", alt="Thumb")
							.pdpthumb
								img(src="http://fillmurray.com/165/149", alt="Thumb")
							.right-arrow
								img(src="lib/xxxx/arrow-right.png", alt="Next")
					.options
						h3 AZIMUT Nappa Black
						h3.price $000
						h5 SIZE:
						.size
							a(href="") 35
							a(href="") 36
							a(href="") 37
							a(href="") 38
							a(href="") 39
							a(href="") 40
							a(href="") 41
							a(href="") 42
						h5 COLOR:
						.color
							.box.black
							.box.grey
							.box.white
						h5 QUANTITY
		// ITEM  ITEM  ITEM  ITEM  ITEM  ITEM  ITEM  ITEM  ITEM  ITEM
		include footer.jade