doctype html
html(lang='en')
	include head.jade
	body
		include header.jade
		// SECTION SECTION SECTION SECTION SECTION SECTION SECTION
		.container
			.page-section
				.grid
					.box 
						img(src="http://fillmurray.com/262/240", alt="Product")
						.description
							div
								h5 AZIMUT
								h5 Nappa Black
								.price $000
							div
								input(type="button" value="Add To Cart")
					.box
						img(src="http://fillmurray.com/262/240", alt="Product")
						.description
							div
								h5 AZIMUT
								h5 Nappa Black
								.price $000
							div
								input(type="button" value="Add To Cart")
					.box
						img(src="http://fillmurray.com/262/240", alt="Product")
						.description
							div
								h5 AZIMUT
								h5 Nappa Black
								.price $000
							div
								input(type="button" value="Add To Cart")
					.box
						img(src="http://fillmurray.com/262/240", alt="Product")
						.description
							div
								h5 AZIMUT
								h5 Nappa Black
								.price $000
							div
								input(type="button" value="Add To Cart")
					.box
						img(src="http://fillmurray.com/262/240", alt="Product")
						.description
							div
								h5 AZIMUT
								h5 Nappa Black
								.price $000
							div
								input(type="button" value="Add To Cart")
					.box
						img(src="http://fillmurray.com/262/240", alt="Product")
						.description
							div
								h5 AZIMUT
								h5 Nappa Black
								.price $000
							div
								input(type="button" value="Add To Cart")
					.box
						img(src="http://fillmurray.com/262/240", alt="Product")
						.description
							div
								h5 AZIMUT
								h5 Nappa Black
								.price $000
							div
								input(type="button" value="Add To Cart")
					.box
						img(src="http://fillmurray.com/262/240", alt="Product")
						.description
							div
								h5 AZIMUT
								h5 Nappa Black
								.price $000
							div
								input(type="button" value="Add To Cart")
					.box
						img(src="http://fillmurray.com/262/240", alt="Product")
						.description
							div
								h5 AZIMUT
								h5 Nappa Black
								.price $000
							div
								input(type="button" value="Add To Cart")
					.box
						img(src="http://fillmurray.com/262/240", alt="Product")
						.description
							div
								h5 AZIMUT
								h5 Nappa Black
								.price $000
							div
								input(type="button" value="Add To Cart")
					.box
						img(src="http://fillmurray.com/262/240", alt="Product")
						.description
							div
								h5 AZIMUT
								h5 Nappa Black
								.price $000
							div
								input(type="button" value="Add To Cart")
					.box
						img(src="http://fillmurray.com/262/240", alt="Product")
						.description
							div
								h5 AZIMUT
								h5 Nappa Black
								.price $000
							div
								input(type="button" value="Add To Cart")
					.box
						img(src="http://fillmurray.com/262/240", alt="Product")
						.description
							div
								h5 AZIMUT
								h5 Nappa Black
								.price $000
							div
								input(type="button" value="Add To Cart")
					.box
						img(src="http://fillmurray.com/262/240", alt="Product")
						.description
							div
								h5 AZIMUT
								h5 Nappa Black
								.price $000
							div
								input(type="button" value="Add To Cart")
					.box
						img(src="http://fillmurray.com/262/240", alt="Product")
						.description
							div
								h5 AZIMUT
								h5 Nappa Black
								.price $000
							div
								input(type="button" value="Add To Cart")
					.box
						img(src="http://fillmurray.com/262/240", alt="Product")
						.description
							div
								h5 AZIMUT
								h5 Nappa Black
								.price $000
							div
								input(type="button" value="Add To Cart")
					.box
						img(src="http://fillmurray.com/262/240", alt="Product")
						.description
							div
								h5 AZIMUT
								h5 Nappa Black
								.price $000
							div
								input(type="button" value="Add To Cart")
					.box
						img(src="http://fillmurray.com/262/240", alt="Product")
						.description
							div
								h5 AZIMUT
								h5 Nappa Black
								.price $000
							div
								input(type="button" value="Add To Cart")
			// SECTION SECTION SECTION SECTION SECTION SECTION SECTION
		include footer.jade