doctype html
html(lang='en')
	include head.jade
	body
		include header.jade
		// SECTION SECTION SECTION SECTION SECTION SECTION SECTION
		.container
			.page-section
				.grid
					.box =]
					.box =]
					.box =]
					.box =]
					.box =]
					.box =]
					.box =]
					.box =]
					.box =]
					.box =]
					.box =]
					.box =]
					.box =]
					.box =]
					.box =]
					.box =]
					.box =]
					.box =]
			// SECTION SECTION SECTION SECTION SECTION SECTION SECTION
		include footer.jade