footer
	text-align: center
	padding-left: 165px
	background-color: #acacac
	width: 100%
	height: auto
	margin-top: 24px
	margin-bottom: 0px
	padding: 5px
	.container
		margin: 0 auto
		text-align: center
		text-justify: distribute-all-lines
	.right, .middle, .left
		display: inline-block
		p
			margin: 0px
			padding: 0px
	.right
		a 
			margin: 0 6px