header
	position: relative
	height: 60px
	margin-top: 10px !important
	.mobileMenu
		display: none
	.mobile2
		position: relative
		display: none
		width: 100%
		height: 25px
		div, form
			display: inline-block
			width: 30%
			height: 100%
			//padding: 5px
			color: black
			font-size: 14px
			position: relative
			margin-top: 0px
		form
			text-align: center
			color: black
			img
				vertical-align: middle
				display: inline-block
				margin-top: -5px
			input
				height: 20px
				width: calc(100% - 30px)
				color: black
		.cart
			text-align: right
			vertical-align: middle
			margin-top: 4px
			img
				margin-left: 8px
				vertical-align: top
		.account
			margin-left: 9px
			color: blacks
	.mobile
		display: none
		vertical-align: middle
		height: 50px
		div
			display: inline-block
			width: 31%
			height: 100%
			padding: 5px
			color: white
			img
				vertical-align: middle
		.ash
			text-align: center
		.logo
			text-align: right
		.x 
			margin-left: 9px
	.left
		float: left
		height: 500px
		//background-color: salmon
		width: 165px
		position: relative
		z-index: 9
		text-align: center
		nav
			text-transform: uppercase
			margin-top: 50px
			font-size: 12px
			> div
				margin-bottom: 20px
			ul
				list-style-type: none
	.top
		width: 575px
		height: 60px
		//background-color: red
		position: absolute
		font-size: 12px
		right: 0
		text-transform: uppercase
		.cart
			img
				vertical-align: middle
				margin-left: 5px
				margin-top: -10px
		ul
			display: block
			height: 30px
			width: auto
			position: absolute
			right: 0
			li
				margin: 5px 10px
				float: left
				&.search
					list-style-type: none
					background-image: url('/lib/xxxx/search-icon.png')
					background-repeat: no-repeat
					background-position: 0px 3px
					padding-left: 18px
		.under
			//background-color: green
			width: auto
			height: 27px
			margin-top: 30px
			right: 0px
			position: absolute
			font-size: 10px
			line-height: .7
			li:first-child
				list-style-type: none