.page-item
  text-align: center
  position: relative
  margin-left: 186px
  max-width: 945px
  margin-right: 10px
  background-color: salmon
  .main
  	width: 780px
  	height: 600px
  	background-color: green
  	margin-left: auto
  	.image
  		width: 555px
  		height: auto
  		background-color: lavender
  		display: inline-block
  		vertical-align: top
  	.carousel
  		position: relative
  		.pdpthumb
  			display: inline-block
  			max-width: 165px
  			max-height: 149px
  			margin: auto
  			img
  				width: 100%
  				height: auto
  		.left-arrow, .right-arrow
  			position: absolute
  			vertical-align: middle
  			display: inline-block
  			top: 50%
  			transform: translateY(-50%)
  		.left-arrow
  			left: 0
  		.right-arrow
  			right: 0
  	.options
  		width: 195px
  		height: 500px
  		display: inline-block
  		background-color: OliveDrab
  		text-align: left
  		.price
  			margin-bottom: 10px
  		.size
  			background-color: #FFF
  			text-align: center
  			margin-top: 8px
  			a
  				width: 25%
  				display: inline-block
  				margin: 5px 0px
  		.color
  			.box
  				border: 1px solid #959595
  				width: 30px 
  				height: 30px 
  				display: inline-block
  				margin-top: 8px
  			.black
  				background-color: black
  			.white
  				background-color: white
  			.grey
  				background-color: #c2c2c2