@media screen and (max-width: 788px)
	///**
	//---------------------------------------------------------------
	// * Global
	//---------------------------------------------------------------
	//**/
	.container
		max-width: 780px
	header
		.mobileMenu
			display: block
		height: 79px
		.left
			display: block
			position: fixed
			left: 20px 
			right: 20px
			top: 85px
			top: -393px
			width: auto
			text-align: center
			background-color: white
			height: auto
			transition: all 0.3s ease-in-out
			nav
				padding-top: 0px
				margin-top: 0px
				border: 1px solid black
				>div
					margin-bottom: 0px
					color: white
			.menu-cat
				background-color: black
				height: 30px
				width: 100%
				padding-top: 6px
				display: block !important
				margin-bottom: 0px !important
				text-decoration: underline
			.logo
				display: none
			ul 
				margin-bottom: 0px
			li 
				height: 30px
				a 
					height: 100%
					width: 100%
					padding-top: 6px
					display: block !important
					color: black
					&:hover
						background-color: darken(#FFF, 5%)
		background-color: #ebebeb
		margin-top: 0px !important
		.mobile
			display: block
			background-color: black
		.top
			display: none
		.mobile2
			display: inline-block
			div, form
				display: inline-block
	.page-home, .page-item, .page-section, .page-section-totallook
		margin-left: 10px
		section.newProducts
			display: none
		section.bestSellers
			display: none
		section.newProductsMobile
			display: block
		section.bestSellersMobile
			display: block
		section.shopByStyle
		  a
		    display: none
		    &:first-child
		      display: inline-block
