@media screen and (max-width: 788px)
	///**
	//---------------------------------------------------------------
	// * Global
	//---------------------------------------------------------------
	//**/
	.container
		max-width: 780px
	header
		.mobileMenu
			display: block
		height: 79px
		.left
			display: block
			position: fixed
			left: 20px 
			right: 65px
			width: 100%
			text-align: center
			background-color: white
			.menu-cat
				background-color: black
			.logo
				display: none
		background-color: #ebebeb
		margin-top: 0px !important
		.mobile
			display: block
			background-color: black
		.top
			display: none
		.mobile2
			display: inline-block
			div, form
				display: inline-block
	.page-home, .page-item, .page-section, .page-section-totallook
		margin-left: 10px
		section.newProducts
			display: none
		section.bestSellers
			display: none
		section.newProductsMobile
			display: block
		section.bestSellersMobile
			display: block
		section.shopByStyle
		  a
		    display: none
		    &:first-child
		      display: inline-block
