.page-section
	text-align: center
	margin-left: 186px
	max-width: 945px
	width: 100%
	margin-right: 10px
	height: auto
	.grid
		max-width: 897px
		//background-color: blue
		margin-left: 0px
		height: auto
		position: relative
		display: inline-block
		width: 100%
		.box
			width: 292px
			height: 316px
			position: relative
			//float: left
			display: inline-block
		.description
			.first
				float: left
				line-height: 1.2
				width: 118px
			.last
				text-align: right
			div
				text-align: left
				margin: 0 15px
			.price
				margin-left: 0px
				float: none
			.price, .sale-price
				letter-spacing: 4px
		.new-tag:before
			content: ''
			position: absolute
			right: 15px
			width: 100px 
			height: 32px
			background: url('/lib/xxxx/new-tag.png')
		.sale-tag:before
			content: ''
			position: absolute
			right: 15px
			width: 100px 
			height: 32px
			background: url('/lib/xxxx/sale-tag.png')
		.sale-tag
			.price
				text-decoration: line-through
				margin-right: 10px
				width: 48px
				display: inline-block
			.sale-price
				width: 48px
				margin-left: 10px
				display: inline-block
				background-color: $yellow
				position: absolute
				text-align: center
				border-left: 1px solid $btncolor
				border-top: 1px solid $yellow
				border-bottom: 1px solid $yellow
.page-section-totallook
	text-align: center
	margin-left: 186px
	max-width: 945px
	width: 100%
	margin-right: 10px
	height: auto
	+clearfix
	.grid
		max-width: 876px
		//background-color: blue
		margin-left: 67px
		height: auto
		.box
			width: 292px
			height: 316px
			position: relative
			//background-color: salmon
			float: left
			//border: 1px solid
	section.totalLook    /////  SHOP BY STYLE
		a 
			position: relative
			margin: 0px 10px
			display: inline-block
			.hover
				> div
					width: 100%
					left: 20%
					right: auto
					div
						font-size: 14px
						margin-bottom: 20px
						width: 100%
		img.add
			position: absolute
			right: 0
		section
		a 
			.hover
				position: absolute
				top: 10px
				right: 10px
				left: 10px
				bottom: 10px
				background-color: rgba(0, 0, 0, .741)
				display: none
				h5, .price
					color: white
				> div
					position: absolute
					bottom: 10px
					left: 15px
					display: block
					text-align: left
					//left: 50%
					//transform: translateX(-50%)
			position: relative
			&:hover .hover
				display: block
			h5
				background: none



@media screen and (max-width: 1182px)
	.page-section .grid
		margin-left: 0px

@media screen and (max-width: 1076px)
	.page-section .grid
		margin: auto
		width: 100%
@media screen and (max-width: 1119px)
	.page-section .grid
		max-width: 604px !important
@media screen and (max-width: 982px)
	.page-section
		margin-left: 0px
@media screen and (max-width: 788px)
	.page-section
		margin-top: 30px